<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="weatherform" action="/" method="POST">
        <label for="cityname" name="cityName">Enter city name</label><br>
        <input type="text" name="cityName" placeholder="Enter the
         name of the city"><br>
         <label for="units" name="units">Enter unit</label><br>
         <input type="text" name="units" placeholder="Enter the unit"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>